
body {

    text-align: center;
}






.navigation{

height: 100%;

width:400px;



}

/*
.form-signin {   
    
    width: 100%;
    max-width: 330%;
    padding: 100px;
    margin: auto;
    /*top: 50Px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.form-signin .form-control{
    
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;    
}

.form-signin input[type="email"]{
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

*/