
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #5f27cd;
}

 img {    
    width: 100%;
    height: 901px; 
    
}


.box {

    margin-top: -450px;
    margin-left: 50%;
    margin-right: 50%;    
    text-align: center;      
    width: 400px;
    opacity: 0.95;
    padding: 40px;
    position: relative;
    /* top: 50%;
    left: 50%*/
    transform: translate(-50%,-50%);
    background-color: #ecf0f1;


.box h1 {

    color: : #f7f1e3;
}

.box input[type="email"], .box input[type="password"]{
    
    margin: 20px-auto;
    display: block;
    padding: 14px  10px;
    
}

.box input[type="checkbox"]{

     
    margin-top: 40px;
    position: relative;
}