body{
    font-family: arial;
}

header {
    width: 100%; /* Largura */
    height: 100px; /* Altura */
    background-color: #dfe4ea;
    text-align: center;
}
header .navadmin {
    position: relative;
    margin: auto;
    top: auto;
}
.nav {
    background-color: #dfe6ea;
    height: 25px;
    color: black;    
}
.nav ul{
    list-style: none;        
}
.nav li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
.navadmin h2 {
    padding-top: 2px; 
    padding-bottom: 2px;
    background-color: #dfe6ea;
    color: black;
}
.navadmin h3 {
    font-size: 20px;
    color: black;
}
.navigation{
    background-color: #dfe4ea;    
}
.navigation ul {
    list-style: none;
    padding-left: 0;
    height: 30px;
}
.sub-list ul{
    height: 5px;
}
.navigation li {
    display: inline-block; 
    line-height: 10px;
    padding-left: 10px;
    padding-right: 10px;	 
}

#painel {
    position: relative;
    margin-bottom: 15px;
}
footer {
    margin-top: -1px;
    height: 139px;
    background-color: #dfe4ea;
}
.rodape {
    text-align: center;
}
#sing{
    height: 80px;
    line-height: 40px;
}

.content {
text-align: center;

}